@media (max-width: 768px) {
  .promo-section {
      flex-direction: column; /* Вертикальное расположение на мобильных */
      align-items: center; /* Центрирование карточек */
  }

  .menu-item {
      padding: 10px; /* Меньше отступов для мобильных */
  }

  .menu-card {
      width: 100%; /* Ширина карточек на мобильных */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'MyShrift', Caveat, sans-serif; /* Применяем кастомный шрифт */
  margin: 0;
  padding: 0;
  background-color: #704a18c2; /* Серый фон */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px; /* Отступ для основного контента */
}
header {
  background-color: rgba(92, 91, 85, 0.664); /* Полупрозрачный цвет для заголовка */
  width: 100%;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Уровень наложения заголовка */
}



.promo-section {
  display: flex;
  justify-content: space-evenly; /* Равномерное распределение карточек */
  margin: 20px 0;
}

.promo-card {
  position: relative;
  margin: 50px; /* Увеличиваем отступ между карточками */
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.5s;
  flex: 1; /* Позволяет карточкам занять всю доступную ширину */
  max-width: 100%; /* Максимальная ширина карточек (можно настроить) */
}

.promo-card img {
  width: 100%;
  height: auto;
  transition: transform 0.5s; /* Плавное увеличение изображения */
}

.promo-card:hover img {
  transform: scale(1.05); /* Увеличение при наведении */
}

.card-content {
  position: absolute;
  bottom: 0; /* Прикрепляем текст к нижней части карточки */
  left: 50%;
  transform: translate(-50%, 0); /* Центрируем текст по горизонтали */
  color: white; /* Белый цвет текста */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Тень для читаемости */
  font-size: 1.2rem; /* Размер шрифта */
  padding: 10px; /* Отступ для текста */
  
}

.card-content h4 {
  margin: 0; /* Убираем отступы верх и низ */
}

.card-content p {
  margin: 5px 0 0; /* Убираем отступы, оставляя небольшой отступ сверху */
}

.promo-card:hover {
  transform: scale(1.05); /* Увеличение карточки при наведении */
}

body {
  font-family: 'CustomFontName', Arial, sans-serif;
}

.menu-grid {
  display: flex;
  flex-wrap: wrap; /* Позволяем элементам переходить на новую строку */
  justify-content: center; /* Центрируем элементы по горизонтали */
  margin-top: 20px; /* Отступ сверху */
}

.menu-item {
  background-color: #413a3ac5; /* Цвет фона карточки */
  border: 1px solid #e7d321; /* Цвет рамки */
  border-radius: 30px; /* Скругление углов */
  margin: 15px; /* Отступы между карточками */
  padding: 10px; /* Внутренние отступы */
  box-shadow: 0 2px 5px rgb(251, 0, 0); /* Тень карточек */
  transition: transform 0.2s; /* Плавный эффект при наведении */
}

.menu-card:hover {
  transform: scale(1.05); /* Увеличение карточки при наведении */
}

.menu-items {
  display: flex;
  flex-direction: row; /* Расположение элементов по вертикали */
  align-items: center; /* Центрирование по горизонтали */
}

.menu-items div {
  text-align: center; /* Центрируем текст в карточке */
}

.menu-items img {
  border-radius: 8px; /* Скругление углов изображения */
  max-width: 100%; /* Адаптация изображения под размер карточки */
  height: auto; /* Автоматическая высота пропорционально ширине */
}

h1,h2, h3, h4, h5, h6 {
  margin: 15px 0; /* Отступы для заголовков секций */
  text-align: center; /* Центрируем текст заголовков */
}

.menu-card {
  background-color: #DAD4CB; /* Белый фон для карточки */
  border: 1px solid #c09d2bd3; /* Серый бордер */
  border-radius: 10px; /* Закругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для эффекта глубины */
  width: 300px; /* Ширина карточки */
  margin: 20px; /* Отступы вокруг карточки */
  overflow: hidden; /* Скрыть выходящий контент */
  display: flex; /* Используем flex для выравнивания */
  flex-direction: column; /* Вертикальная ориентация */
  justify-content: space-between; /* Разделение пространства между элементами */
  height: 500px; /* Фиксированная высота для карточки */
}

.menu-card img {
  width: 100%; /* Полная ширина изображения */
  height: auto; /* Автоматическая высота */
}

.menu-card h4 {
  margin: 15px 0 10px 0; /* Отступы вокруг заголовка */
  font-size: 1.5em; /* Размер шрифта */
  color: #333; /* Цвет текста */
  flex-grow: 1; /* Позволяет заголовку занимать доступное пространство */
}

.menu-card p {
  margin: 0 15px 15px 15px; /* Отступы вокруг описания */
  font-size: 1em; /* Размер шрифта */
  color: #461e11; /* Цвет текста описания */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
.mySlides {
  display: none; /* Скрывает неактивные слайды */
  opacity: 0; /* Начальная непрозрачность */
  transform: translateY(10px); /* Начальная позиция немного ниже */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Плавный переход для непрозрачности и позиции */
}

.mySlides.active {
  display: block; /* Показывает активный слайд */
  opacity: 1; /* Полная непрозрачность */
  transform: translateY(0); /* Возвращаем начальное положение */
}

img {
  width: 100vw;
  height: auto;
  vertical-align: middle;
}
.slideshow-container {
  position: relative;
  margin: 150px auto auto;
}
.nav-buttons {
  margin-top: 10px; /* Отступ сверху */
}

.nav-buttons {
  display: flex;
  justify-content: center;
  gap: 15px; /* Пробел между кнопками */
}
@media (max-width: 768px) {
  .nav-button {
      font-size: 1.5rem; /* Увеличение размера текста для кнопок */
      padding: 10px 15px; /* Увеличение области нажатия */
  }
}

.nav-button {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  background-color: #b96d09; /* Цвет фона */
  border-radius: 20px; /* Закругленные углы */
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #c0392b; /* Цвет при наведении */
}
.nav-buttons a {
  display: inline-flex; /* Убедитесь, что это часть флекс-контейнера */
  align-items: center; /* Центрируем иконку по вертикали */
  text-decoration: none; /* Убираем подчеркивание */
}

.nav-buttons img.icon {
  width: 20px; /* Установите необходимый размер иконки */
  height: 20px; /* Установите необходимый размер иконки */
  margin-right: 5px; /* Отступ между иконкой и текстом */
}

/* Стиль для кнопки "Войти" */
#loginButton {
  font-weight: bold; /* Сделаем текст жирным */
  margin-left: 60px; /* Добавим отступ слева к кнопке "Войти" */
}
.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}



.image-gallery {
  display: flex; /* Используем flex для горизонтального отображения */
  width: 2400px; /* Устанавливаем ширину галереи */
  overflow: hidden; /* Принудительно скрываем переполнение */
  justify-content: space-between; /* Распределяем пространство между изображениями */
  margin-bottom: 20px; /* Добавляем отступ снизу для образовавшегося пространства */
}

.image-item {
  width: 600px; /* Устанавливаем фиксированную ширину для каждого изображения */
  height: 600px; /* Фиксируем высоту для каждого изображения */
  margin-right: 20px; /* Добавляем отступ между изображениями */
  transition: transform 0.3s ease; /* Плавный переход при увеличении */
}

.image-item:hover {
  transform: scale(1.05); /* Увеличиваем размер на 5% при наведении */
}

.image-item img {
  width: 100%; /* Занимаем всю ширину элемента */
  height: 100%; /* Заведомо равная высота элементу */
  object-fit: cover; /* Сохраняем пропорции изображения в пределах заданного размера */
}

.full-width-image {
  width: 2400px; /* Устанавливаем ширину для секции с изображением */
  height: 600px; /* Устанавливаем высоту */
  margin-top: 20px; /* Добавляем отступ сверху для разделения секций */
}

.full-width-image img {
  width: 2400px; /* Явно указываем ширину изображения */
  height: 600px; /* Явно указываем высоту изображения */
  object-fit: cover; /* Сохраняем пропорции изображения */
}



.modal {
  display: none; /* Скрываем модальное окно по умолчанию */
  position: fixed; /* Закрепляем модальное окно */
  z-index: 1000; /* Слой для модального окна выше всего */
  left: 0;
  top: 0;
  width: 100%; /* Ширина окна */
  height: 100%; /* Высота окна */
  overflow: hidden; /* Включаем скроллинг, если необходимо */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content {
  background-color: #fefefe; /* Фон модального окна */
  margin: 10% auto; /* Отступ от верхней части экрана */
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
  border-radius: 10px; /* Скругление углов */
  width: 90%; /* Ширина окна */
  max-width: 400px; /* Максимальная ширина */
}
.quantity-container {
  display: flex; /* Используем флекс для горизонтального размещения */
  align-items: center; /* Центрируем кнопки по вертикали */
  justify-content: center; /* Центрируем по горизонтали */
  margin-top: 10px; /* Отступ сверху */
}

.quantity-button {
  background-color: #ff7b00; /* Цвет фона кнопок */
  color: white; /* Цвет текста */
  border: none; /* Убираем обводку */
  border-radius: 5px; /* Скругление углов */
  padding: 5px 10px; /* Увеличиваем отступы для кнопок */
  font-size: 16px; /* Размер шрифта */
  width: 40px; /* Фиксированная ширина кнопок */
  height: 40px; /* Фиксированная высота кнопок */
  cursor: pointer; /* Указатель при наведении */
  transition: background-color 0.3s; /* Плавный переход */
}

.quantity-button:hover {
  background-color: #c29023; /* Цвет при наведении */
}

.quantity-input {
  width: 50px; /* Фиксированная ширина для поля ввода */
  text-align: center; /* Центрируем текст внутри поля */
  font-size: 16px; /* Размер шрифта */
  border: 1px solid #ccc; /* Цвет бордера */
  border-radius: 5px; /* Скругление углов */
  margin: 0 5px; /* Отступы по бокам */
}

/* Убираем стрелки для полей ввода в Chrome и Safari */
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Убираем стрелки */
  margin: 0; /* Убираем отступы */
}

.form-group {
  margin-bottom: 15px; /* Отступы между полями */
}

label {
  display: block; /* Блоковый элемент для лучшего выравнивания */
  margin-bottom: 5px; /* Отступ снизу для меток */
  font-weight: bold; /* Жирный текст для меток */
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%; /* Полная ширина для полей ввода */
  padding: 10px; /* Отступы внутри поля */
  border: 1px solid #ccc; /* Серый бордер */
  border-radius: 5px; /* Скругление углов полей */
  transition: border-color 0.3s; /* Плавный переход цвета бордера */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #D3975F; /* Цвет бордера при фокусе */
  outline: none; /* Убираем стандартный outline */
}

button {
  width: 100%; /* Ширина кнопки на полную ширину */
  background-color: #e9760b; /* Цвет кнопки */
  color: white; /* Цвет текста */
  border: none; /* Убираем обводку */
  padding: 10px; /* Отступы */
  border-radius: 5px; /* Скругление углов */
  cursor: pointer; /* Курсор */
  font-size: 16px; /* Размер шрифта */
}

button:hover {
  background-color: #ba8910; /* Цвет при наведении */
}

h2 {
  text-align: center;
  margin-bottom: 20px; /* Отступ снизу для заголовка форм */
}

p {
  text-align: center;
}

a {
  color: #D3975F; /* Цвет ссылки */
  text-decoration: none; /* Убираем подчеркивание */
}


/* Стили для фона модального окна */
.modal-overlay {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 9; /* Под модальным окном */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
}

/* Стили для модального окна */
#foodModal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 10; /* Поверх фона */
  left: 50%; /* Центрирование по горизонтали */
  top: 50%; /* Центрирование по вертикали */
  transform: translate(-50%, -50%); /* Центрирование */
  width: 600px; /* Установленная ширина */
  height: 800px; /* Установленная высота */
  padding: 20px;
  background-color: white; /* Цвет фона */
  border-radius: 20px; /* Скругленные углы */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Тень для эффекта всплытия */
  overflow: hidden; /* Скрываем переполнение */
}

/* Стили для изображения в модальном окне */
.modal-content img {
  width: 100%; /* Ширина изображения равна ширине модального окна */
  height: auto; /* Высота изображения сохраняет соотношение сторон */
  border-radius: 30px; /* Немного скруглены углы изображения */
}


@media (max-width: 768px) {
  body {
      padding-top: 50px; /* Уменьшаем отступы для мобильных устройств */
      background-size: cover; /* Покрытие фона на мобильных */
  }
}


.features {
  text-align: center; /* Центрируем текст */
  margin: 40px 0; /* Отступ сверху и снизу */
}

.features-container {
  display: flex; /* Используем Flexbox для равномерного распределения */
  justify-content: space-around; /* Распределяем элементы равномерно по ширине */
  flex-wrap: wrap; /* Позволяем перенос элементов на новую строку */
}

.feature-item {
  flex: 0 1 23%; /* Задаем фиксированную ширину для каждого элемента */
  margin: 20px; /* Отступ между элементами */
  opacity: 0; /* Начальная непрозрачность для анимации */
  transform: translateY(20px); /* Начальное положение для анимации */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Плавный переход */
}

.feature-item img {
  width: 200px; /* Ширина иконки */
  height: auto; /* Автоматическая высота пропорционально ширине */
}

.feature-item.visible {
  opacity: 1; /* Полная непрозрачность при видимости */
  transform: translateY(0); /* Возврат в исходное положение */
}

/* Анимация появления */
@keyframes fadeInUp {
  from {
      opacity: 0; /* Начальная непрозрачность */
      transform: translateY(200px); /* Начальная позиция немного ниже */
  }
  to {
      opacity: 1; /* Полная непрозрачность */
      transform: translateY(0); /* Возврат в исходное положение */
  }
}
.full-width-image {
  width: 100%; /* Занимает всю ширину */
  overflow: hidden; /* Скрываем излишки */
}

.full-width-image img {
  width: 100%; /* Изображение занимает всю ширину родителя */
  height: auto; /* Высота сохраняет пропорции */
  display: block; /* Убираем нижний отступ */
  object-fit: cover; /* Изображение полностью заполняет контейнер */
}

.cart {
  position: fixed;
  top: 0;
  right: -40%; /* скрыто изначально, перемещаем вправо */
  width: 40%;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease; /* анимация открытия */
  z-index: 1000; /* выше других элементов */
  padding: 20px;
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* затемнение детали под корзиной */
  backdrop-filter: blur(10px); /* эффект размытия */
  display: none; /* скрыто изначально */
  z-index: 998; /* ниже корзины */
}
#totalPrice {
  font-size: 24px; /* Установка размера шрифта */
  font-weight: bold; /* Установка жирного текста */
}

/* Стиль для кнопок */
#checkoutButton {
  font-size: 18px; /* Увеличение шрифта на кнопке */
  padding: 10px; /* Увеличение отступов */
  background-color: #ff7b00; /* Цвет кнопки */
  color: white; /* Цвет текста */
  border: none; /* Без бордера */
  border-radius: 5px; /* Закругление углов */
  cursor: pointer; /* Указатель при наведении */
}
#checkoutButton:hover {
  background-color: #c29023; /* Цвет при наведении */
}

/* Стили для кнопки корзины */
.nav-button#cartButton {
  background-color: #b96d09; /* Фон такой же, как у других кнопок */
  border-radius: 20px; /* Округление углов */
  padding: 10px 20px; /* Отступы для сохранения размера кнопки */
  color: white; /* Цвет текста */
  text-decoration: none; /* Убираем подчеркивание */
  position: relative; /* Устанавливаем относительное позиционирование */
  overflow: hidden; /* Прячем элементы, выходящие за границы кнопки */
  height: 40px; /* Фиксированная высота кнопки */
  width: 170px; /* Фиксированная ширина кнопки (или любую другую, которая вам нужна) */
  display: flex; /* Используем flex для управления элементами внутри кнопки */
  align-items: center; /* Центрируем содержимое по вертикали */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  transition: background-color s ease; /* Плавный переход цвета фона */
}

.nav-button#cartButton:hover {
  background-color: #c0392b; /* Цвет при наведении */
}

#itemCount {
  display: inline-block; /* Учитываем это свойство для правильного позиционирования */
  transition: opacity 0.1s ease; /* Плавный переход для исчезновения */
}

#cartButton:hover #itemCount {
  opacity: 0; /* Убираем видимость цифры на наведении */
}

#cartButton:hover::after {
  content: '➔'; /* Отображается стрелочка при наведении */
  position: absolute; /* Абсолютно позиционируем стрелку */
  left: 78%; /* Центрируем стрелку на месте цифры */
  top: 50%; /* Центрируем по вертикали */
  transform: translate(-50%, -50%); /* Убираем смещение */
  font-size: 18px; /* Размер стрелки */
  color: white; /* Цвет стрелки (чтобы соответствовать тексту кнопки) */
}
.cart {
  display: flex;
  flex-direction: column;
}

.cart {
  display: flex;
  flex-direction: column;
}

.cart-items {
  flex-grow: 1;
  overflow-y: auto;
}

.total-price {
  margin-top: auto;
  padding: 20px 0;
  border-top: 2px solid #eee;
}

#checkoutButton {
  width: 100%;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.cart-item-info h4 {
  margin: 0 0 5px 0;
  font-size: 16px;
}

.cart-item-price {
  font-weight: bold;
  color: #e9760b;
}

.close-button {
  background-color: #ff0000; /* Красный цвет */
  color: white; /* Цвет текста */
  border: none; /* Убираем обводку */
  border-radius: 50%; /* Круглая форма */
  width: 40px; /* Ширина кнопки */
  height: 40px; /* Высота кнопки */
  font-size: 24px; /* Размер шрифта для крестика */
  cursor: pointer; /* Курсор при наведении */
  position: absolute; /* Позиционирование */
  top: 50000px; /* Отступ сверху */
  right: 10000px; /* Отступ справа */
  outline: none; /* Убираем обвод */
}

.quantity-button {
  background-color: #ff7b00; /* Цвет фона кнопок */
  color: white; /* Цвет текста */
  border: none; /* Убираем обводку */
  border-radius: 5px; /* Скругление углов */
  padding: 5px 8px; /* Уменьшаем отступы для кнопок */
  font-size: 16px; /* Меньший размер шрифта */
  cursor: pointer; /* Курсор при наведении */
  transition: background-color 0.3s;
}

.quantity-button:hover {
  background-color: #c29023; /* Цвет при наведении */
}